In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('data-logistic.csv',header = None)
df

     0         1          2
0   -1 -0.663827  -0.138526
1    1  1.994596   2.468025
2   -1 -1.247395   0.749425
3    1  2.309374   1.899836
4    1  0.849143   2.407750
..  ..       ...        ...
200  1  4.245176   3.053931
201  1  2.437935   1.357804
202 -1 -1.876638   1.533398
203  1 -6.824446 -13.934211
204 -1  0.001805   0.865147

[205 rows x 3 columns]

In [3]:
def w_1_2(w1, w2, k, l, y, x1, x2, C):
    for i in range(l):
        w1 = w1 + k * 1 / l  * sum(y * x1*(1-(1/(1 + np.exp(-y*(w1*x1 + w2*x2))))) - k * C * w1)
        w2 = w2 + k * 1 / l  * sum(y * x2*(1-(1/(1 + np.exp(-y*(w1*x1 + w2*x2))))) - k * C * w2)
    return w1, w2

In [4]:
def gradient(w1, w2,x1,x2,y, iterations,C, k,l):
    for i in range(iterations):
        new_w1,new_w2 = w1,w2
        w1,w2 = w_1_2(w1, w2, k, l, y, x1, x2, C)
        if np.sqrt((new_w1 - w1) ** 2 +(new_w2 - w2) ** 2) <= 1e-5:
            break
    return w1,w2

In [5]:
L1 = gradient(w1=0, w2=0,x1= df[1],x2= df[2],y= df[0], iterations= 10000, C = 0, k =0.1, l =len(df))
L1

(0.28810816724893407, 0.09170912540748352)

In [42]:
L2 = gradient(w1=0, w2=0,x1= df[1],x2= df[2],y= df[0], iterations= 10000, C = 10, k =0.1, l =len(df))
L2

(0.12332762198512853, 0.08680287094233434)

In [43]:
def sigmoid(x1, x2, w1, w2):
    return 1.0 / (1.0 + np.exp(-w1 * x1 - w2 * x2))

In [44]:
sigmoid(x1= df[1],x2= df[2],w1 = L1[0], w2 = L1[1])

0      0.449187
1      0.690188
2      0.427843
3      0.698377
4      0.614308
         ...
200    0.818043
201    0.695702
202    0.401301
203    0.037540
204    0.519955
Length: 205, dtype: float64

In [45]:
from sklearn.metrics import roc_auc_score

auc_L1 = roc_auc_score(df[0], sigmoid(x1= df[1],x2= df[2],w1 = L1[0], w2 = L1[1]))
print(round(auc_L1,3))

auc_L2 = roc_auc_score(df[0], sigmoid(x1= df[1],x2= df[2],w1 = L2[0], w2 = L2[1]))
print(round(auc_L2,3))

0.927
0.937