NUMPY

In [1]:
import numpy as np

In [3]:
X = np.random.normal(loc=1, scale=10, size=(1000, 50))
print(X)

[[ -8.31667933  -4.91001728   3.37963191 ...  -5.23847617  11.33977351
    6.2737121 ]
 [  9.07971142  -0.62660788   6.33077989 ...   5.33433636 -15.44876162
   -0.04771155]
 [ -8.21055008 -20.56285715  15.7847666  ...  -0.8900758   11.69187988
    3.60587876]
 ...
 [  7.93209393  -0.50434449   0.0626752  ... -20.84617074  -6.42642069
   -1.5276249 ]
 [ 12.01761706 -12.1983883    0.08810498 ...   2.86438669  -4.74829467
    3.12876585]
 [  3.49932686 -10.79309621  -5.05207797 ... -11.6586579   -1.06575195
   -0.4457783 ]]

In [4]:
m = np.mean(X, axis=0)
std = np.std(X, axis=0)
X_norm = ((X - m)  / std)
print(X_norm)

[[-0.90659866 -0.56242098  0.26350976 ... -0.65893178  0.98053291
   0.47703538]
 [ 0.78867394 -0.12859674  0.55930522 ...  0.40364888 -1.59408825
  -0.165717  ]
 [-0.8962564  -2.14774253  1.50688439 ... -0.2219122   1.01437353
   0.2057743 ]
 ...
 [ 0.67683899 -0.11621389 -0.06895095 ... -2.22752426 -0.72695947
  -0.31619225]
 [ 1.07497189 -1.30058809 -0.0664021  ...  0.1554159  -0.56567634
   0.15726221]
 [ 0.24486729 -1.15825993 -0.58160595 ... -1.30416793 -0.21175059
  -0.2061918 ]]

In [5]:
Z = np.array([[4, 5, 0], 
             [1, 9, 3],              
             [5, 1, 1],
             [3, 3, 3], 
             [9, 9, 9], 
             [4, 7, 1]])

In [9]:
r = np.sum(Z, axis=1)
print(np.nonzero(r > 10))

(array([1, 4, 5], dtype=int64),)

In [11]:
A = np.eye(3)
B = np.eye(3)
print(A)
print(B)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [12]:
AB = np.vstack((A, B))
print(AB)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

PANDAS

In [17]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
data['Pclass']

PassengerId
1      3
2      1
3      3
4      1
5      3
      ..
887    2
888    1
889    3
890    1
891    3
Name: Pclass, Length: 891, dtype: int64

In [19]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

Задание №1
Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [24]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

Задание №2 Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [48]:
round(data['Survived'].value_counts()[1]/len(data['Survived'])*100,2)

38.38

Задание №3 Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [46]:
round((data['Pclass']==1).sum()/len(data)*100,2)

24.24

Задание №4 Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [51]:
data['Age'].mean()

29.69911764705882

In [52]:
data['Age'].median()

28.0

Задание №5 Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [75]:
from scipy import stats
round(stats.pearsonr(data['SibSp'].values,data['Parch'].values)[0],2)

0.41

Задание №6 Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [83]:
w_data = data[data['Sex']=='female'].reset_index()
w_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
2,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
3,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
4,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
309,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
310,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
311,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
312,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
313,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [137]:
from collections import Counter
spisok_names = []
for i in range(len(w_data)):
    spisok_names.append(w_data['Name'][i].split(".")[-1])
slovar = Counter(spisok_names)
slovar

Counter({' John Bradley (Florence Briggs Thayer)': 1,
         ' Laina': 1,
         ' Jacques Heath (Lily May Peel)': 1,
         ' Oscar W (Elisabeth Vilhelmina Berg)': 1,
         ' Nicholas (Adele Achem)': 1,
         ' Marguerite Rut': 1,
         ' Elizabeth': 2,
         ' Hulda Amanda Adolfina': 1,
         ' (Mary D Kingcome) ': 1,
         ' Julius (Emelia Maria Vandemoortele)': 1,
         ' Fatima': 1,
         ' Anna "Annie"': 1,
         ' Torborg Danira': 1,
         ' Carl Oscar (Selma Augusta Emilia Johansson)': 1,
         ' Ellen "Nellie"': 2,
         ' William Augustus (Marie Eugenie)': 1,
         ' Mary Agatha': 1,
         ' Augusta Maria': 1,
         ' Jamila': 1,
         ' Johan (Johanna Persdotter Larsson)': 1,
         ' William John Robert (Dorothy Ann Wonnacott)': 1,
         ' Simonne Marie Anne Andree': 1,
         ' Margaret Delia': 1,
         ' Bridget': 1,
         ' Josef (Josefine Franchi)': 1,
         ' Henry Sleeper (Myna Haxtun)': 1,
         ' Lizzie (Elizabeth Anne Wilkinson)': 1,
         ' Emily': 1,
         ' Constance Mirium': 1,
         ' Amelie': 1,
         ' (Elizabeth Ramell)': 1,
         ' Erna Alexandra': 1,
         ' Lillian Amy': 1,
         ' Brigdet Delia': 1,
         ' Bertha': 4,
         ' Karl Alfred (Maria Mathilda Gustafsson)': 1,
         ' Mabel Helen': 1,
         ' John T (Ada Julia Bone)': 1,
         ' Matilda': 1,
         ' Anna Kristine': 1,
         ' Hileni': 1,
         ' Katriina': 1,
         ' Malake': 1,
         ' Ellis Anna Maria': 1,
         ' Susan': 1,
         ' Anna': 3,
         ' Alexander A (Grace Charity Laury)': 1,
         ' Leopold (Mathilde Francoise Pede)': 1,
         ' Helen Monypeny': 1,
         ' Joseph (Sultana)': 1,
         ' Anna Sofia': 3,
         ' Pekka Pietari (Elin Matilda Dolck)': 1,
         ' Robina Maggie "Ruby"': 1,
         ' Thomas (Edith Wearne)': 1,
         ' Katherine "Katie"': 2,
         ' James (Elizabeth "Bessie" Inglis Milne)': 1,
         ' (Edith Martha Bowerman)': 1,
         ' William (Anna Bernhardina Karlsson)': 1,
         ' Eleanor Ileen': 1,
         ' Ann Elizabeth': 1,
         ' Constance Gladys': 1,
         ' Luise Gretchen': 1,
         ' Thomas (Johanna "Hannah" Godfrey)': 1,
         ' (Rosa)': 1,
         ' Carla Christine Nielsine': 1,
         ' James Joseph (Margaret Tobin)': 1,
         ' Elise': 1,
         ' Margaret "Maggie"': 1,
         ' Henriette ("Mrs Harbeck")': 1,
         ' Telma Matilda': 1,
         ' Helen "Ellen"': 1,
         ' Clear Annie': 1,
         ' Madeleine': 1,
         ' Eliina': 1,
         ' Albina': 1,
         ' Mathilde': 1,
         ' Henry Birkhardt (Irene Wallach)': 1,
         ' Lillian Gertrud': 1,
         ' Alice Phoebe': 1,
         ' Marjorie "Lottie"': 1,
         ' Thamine': 1,
         ' Katherine "Kate"': 1,
         ' Agda Thorilda Viktoria': 1,
         ' William (Anna)': 1,
         ' Wilhelm (Elna Matilda Persson)': 1,
         ' Viktor (Helena Wilhelmina)': 1,
         ' Darwis (Hanne Youssef Razi)': 1,
         ' Gertrude Maybelle': 1,
         ' Gladys': 1,
         ' (Lutie Davis)': 1,
         ' Delia': 1,
         ' William Thompson (Edith Junkins)': 1,
         ' Amelia': 1,
         ' (Elizabeth Anne Maidment)': 1,
         ' Hanora "Nora"': 2,
         ' Kornelia Theodosia': 1,
         ' Augusta Charlotta': 1,
         ' Stanton (Rosa Hunt)': 1,
         ' Kate': 2,
         ' Dickinson H (Helen Walton)': 1,
         ' Aloisia': 1,
         ' Helen Loraine': 1,
         ' James (Helene DeLaudeniere Chaput)': 1,
         ' Anna Katherine "Annie Kate"': 1,
         ' Nora A': 1,
         ' Margaret': 1,
         ' Victor de Satode (Maria Josefa Perez de Soto y Vallejo)': 1,
         ' Laura Mabel': 1,
         ' Margaret Bechstein': 1,
         ' Emily Borie': 1,
         ' William (Anna Sylfven)': 1,
         ' Helmina Josefina': 1,
         ' Sinai (Miriam Sternin)': 1,
         ' Mary Natalie': 1,
         ' Frederic Oakley (Margaretta Corning Stone)': 1,
         ' Hilda Mary': 1,
         ' Albert Francis (Sylvia Mae Harbaugh)': 1,
         ' Marie Grice': 1,
         ' (Ada E Hall)': 1,
         ' Frank John (Emily Alice Brown)': 1,
         ' Jean Gertrude': 1,
         ' Agnes': 1,
         ' Henry William (Clara Heinsheimer)': 1,
         ' Elizabeth Margaret': 1,
         ' Alice Elizabeth': 1,
         ' Amelia "Mildred"': 1,
         ' Marion Elsie': 1,
         ' Thomas Henry (Mary E Finck)': 1,
         ' Elsie Edith': 1,
         ' Annie Clemmer': 1,
         ' Mary': 6,
         ' Helen Mary "Ellie"': 1,
         ' (Catherine David)': 1,
         ' Frank Manley (Anna Sophia Atkinson)': 1,
         ' (Mantoura Boulos)': 1,
         ' Annie': 1,
         ' Leontine Pauline': 1,
         ' Stina Viola': 1,
         ' Edgar Joseph (Leila Saks)': 1,
         ' Aurora Adelia': 1,
         ' Rosalie': 1,
         ' Maria ("Mary")': 1,
         ' Alexander Oskar (Mary Aline Towner)': 1,
         ' Marjorie': 1,
         ' Hjalmar (Agnes Charlotta Bengtsson)': 1,
         ' Elina': 1,
         ' William H (Jessie L)': 1,
         ' Mari Aina': 1,
         ' Marija': 2,
         ' Ida': 1,
         ' Daisy E': 1,
         ' Thomas (Annie Louise Rowley)': 1,
         ' James Vivian (Lulu Thorne Christian)': 1,
         ' Lyyli Karoliina': 1,
         ' Catharina': 1,
         ' Ernst Gilbert (Anna Sigrid Maria Brogren)': 1,
         ' Charles V (Ada Maria Winfield)': 1,
         ' Kate Florence ("Mrs Kate Louise Phillips Marshall")': 1,
         ' Percival (Florence Kate White)': 1,
         ' Charles Alexander (Alice Adelaide Slow)': 1,
         ' Lucile Polk': 1,
         ' Doolina Margaret "Daisy"': 1,
         ' Sidney (Emily Hocking)': 1,
         ' Benjamin (Esther Ada Bloomfield)': 1,
         ' Encarnacion': 1,
         ' Madeleine Violet': 1,
         ' Marie Catherine': 1,
         ' Frederick R (Marion)': 1,
         ' Ellen': 1,
         ' Helene Barbara': 1,
         ' Edwy Arthur (Ada Mary Worth)': 1,
         ' Amin S (Marie Marthe Thuillard)': 1,
         ' Ida Sofia': 1,
         ' Hildur E': 1,
         ' (Hedwig)': 1,
         ' Jeannie': 1,
         ' Frederick Maxfield (Jane Anne Forby)': 1,
         ' Elizabeth Mussey': 1,
         ' Hudson J C (Bessie Waldo Daniels)': 1,
         ' Bridget Mary': 1,
         ' Kristina Sofia': 1,
         ' Roberta': 1,
         ' Frederick Charles (Jane Richards)': 1,
         ' Barrett)': 1,
         ' (Amelia Milley)': 1,
         ' William A (Florence "Mary" Agnes Hughes)': 1,
         ' Anne': 1,
         ' Louis Albert (Ida Sophia Fischer)': 1,
         ' Lucy': 1,
         ' Phyllis May': 1,
         ' Catherine (Catherine Rizk)': 1,
         ' Eva Miriam': 1,
         ' Hedwig Margaritha': 1,
         ' Harriet R': 1,
         ' Ingeborg Constanzia': 1,
         ' Sigrid Elisabeth': 1,
         ' Edward (Ethel Clarke)': 1,
         ' Velin': 1,
         ' (Lucille Christiana Sutherland) ("Mrs Morgan")': 1,
         ' Emil (Tillie Mandelbaum)': 1,
         ' Guillaume Joseph (Emma)': 1,
         ' (Marion Ogden)': 1,
         ' Nils (Alma Cornelia Berglund)': 1,
         ' Edward Dale (Charlotte Lamson)': 1,
         ' Ethel': 1,
         ' William Baird (Alice Munger)': 1,
         ' Joseph (Maria Elias)': 1,
         ' Julie Rachel': 1,
         ' John Borland (Marian Longstreth Morris)': 1,
         ' Ruth': 1,
         ' Walter Bertram (Martha Eustis)': 1,
         ' Jessie Wills': 1,
         ' Sidney Samuel (Amy Frances Christy)': 1,
         ' Joseph (Juliette Marie Louise Lafargue)': 1,
         ' Elizabeth W': 1,
         ' Anders Johan (Alfrida Konstantia Brogren)': 1,
         ' Margaret Jane': 1,
         ' Alice': 2,
         ' William Arthur (Cordelia K Stanlick)': 1,
         ' Marion Louise': 1,
         ' Gretchen Fiske': 1,
         ' Mabel': 1,
         ' Juha (Maria Emilia Ojala)': 1,
         ' Emma': 1,
         ' Margit Elizabeth': 1,
         ' Eugenie': 1,
         ' Amy Zillah Elsie': 1,
         ' Elsie': 1,
         ' Hanora "Norah"': 1,
         ' John (Catherine)': 1,
         ' Elmer Zebley (Juliet Cummins Wright)': 1,
         ' Thomas William Solomon (Elizabeth Catherine Ford)': 1,
         ' Frederick (Augusta Tyler)': 1,
         ' Katie': 1,
         ' Georgette Alexandra': 1,
         ' Manca': 1,
         ' John Jacob (Madeleine Talmadge Force)': 1,
         ' Saiide': 1,
         ' Florence "Fannie"': 1,
         ' Berthe Antonine ("Mrs de Villiers")': 1,
         ' Caroline Louise': 1,
         ' Edwina Celia "Winnie"': 1,
         ' Annie Jessie "Nina"': 1,
         ' Peter Henry (Lillian Jefferys)': 1,
         ' Margareth': 1,
         ' Pieta Sofia': 1,
         ' Elisabeth Walton': 1,
         ' Edward (Margaret Ann Watson)': 1,
         ' Susan Parker "Suzette"': 1,
         ' Joan': 1,
         ' Samuel (Jane Laver)': 1,
         ' of (Lucy Noel Martha Dyer-Edwards)': 1,
         ' William Ernest (Lucile Polk)': 1,
         ' John C (Anna Andrews)': 1,
         ' (Mary)': 1,
         ' Elizabeth (Eliza Needs)': 1,
         ' Virginia Ethel': 1,
         ' Edward Scott (Elisabeth Walton McMillan)': 1,
         ' Banoura': 1,
         ' Albert Adrian (Vera Gillespie)': 1,
         ' Stella Anna': 1,
         ' Alice (Farnham)': 1,
         ' Mara': 1,
         ' Jean Baptiste (Rosalie Paula Govaert)': 1,
         ' Harvey (Charlotte Annie Tate)': 1,
         ' Ellen Natalia': 1,
         ' Norman Campbell (Bertha Griggs)': 1,
         ' Ebba Iris Alfrida': 1,
         ' Wendla Maria': 1,
         ' Charles Melville (Clara Jennings Gregg)': 1,
         ' (Beila)': 1,
         ' George Nelson (Martha Evelyn)': 1,
         ' Antoni (Selini Alexander)': 1,
         ' Sara Rebecca': 1,
         ' Augusta': 1,
         ' Samuel L (Edwiga Grabowska)': 1,
         ' Nourelain': 1,
         ' Mary Conover': 1,
         ' Ernest Courtenay (Lilian Hughes)': 1,
         ' Sam (Leah Rosen)': 1,
         ' George Dennick (Mary Hitchcock)': 1,
         ' Solomon (Latifa Qurban)': 1,
         ' Frederick Joel (Margaret Welles Barron)': 1,
         ' Dorothy Edith "Dolly"': 1,
         ' (Karolina)': 1,
         ' Asuncion': 1,
         ' Richard Leonard (Sallie Monypeny)': 1,
         ' Samuel (Hannah Wizosky)': 1,
         ' Adele Kiamie "Jane"': 1,
         ' Thomas Jr (Lily Alexenia Wilson)': 1,
         ' William (Imanita Parrish Hall)': 1,
         ' Gerda Ulrika': 1,
         ' William (Margaret Norton)': 1,
         ' Margaret Edith': 1,
         ' Catherine Helen "Carrie"': 1})

In [134]:
def get_key(d, value):
    for k, v in d.items():
        if v == value:
            return k

In [139]:
get_key(slovar, max(slovar.values()))

' Mary'